<nav class="navbar">
    <div class="container navbar-inner">
        <img class="logo" src="../assets/images/logo-white.png" alt="logo">
        <ul class="navbar-nav">
            <li class="navbar-item"><a href="#" class="navbar-link">系列鏡框</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">門市據點</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">部落格</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">常見問題</a></li>
        </ul>
    </div>
</nav>