<nav class="product-navbar">
    <div class="container navbar-inner">
        <ul class="navbar-nav">
            <li class="navbar-item"><a href="./product-optical.html" class="navbar-link">OPTICAL</a></li>
            <li class="navbar-item"><a href="./product-sunglasses.html" class="navbar-link">SUNGLASSES</a></li>
            <li class="navbar-item"><a href="./product-functional.html" class="navbar-link">FUNCTIONAL</a></li>
        </ul>
    </div>
</nav>