/**** start of classic-series-glass ****/
.classic-series-glass {
	background-color: $white;

	padding-top: 80px !important;
	padding-bottom: 80px !important;

	.card {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap !important;
	}

	.card-item {
		display: block !important;
		width: calc(100% / 3) !important; // 三欄式排版
		padding-left: 12px !important;
		padding-right: 12px !important;
	}

	/** 卡片最左邊及最右邊距離歸零 **/
	.card-item:first-child {
		padding-left: 0 !important;
	}

	.card-item:last-child {
		padding-right: 0 !important;
	}

	.card-body img {
		display: block;
		max-width: 416px !important;
		height: auto !important;
		margin: 0 auto !important;
	}

	.card-body h3 {
		color: $primary !important;
		font-family: 'Roboto', sans-serif !important;
		font-size: 48px !important;
		font-weight: bold !important;
		font-style: italic !important;
		margin-top: 8px !important;
		margin-bottom: 24px !important;
	}
}

// max-width-990  (寬度<= 1400)
@include media-breakpoint-down(xxl) {
	.classic-series-glass {

		.card-item {
			width: 100% !important; // 單欄式排版
		}

		.card-body img {
			max-width: 336px !important;
		}
	}
}

// max-width-990  (寬度<= 1200)
@include media-breakpoint-down(xl) {
	.classic-series-glass {
		
	}
}

// max-width-990  (寬度<= 990)
@include media-breakpoint-down(lg) {
	.classic-series-glass {}
}

// max-width:768 (寬度<= 768)
@include media-breakpoint-down(md) {
	.classic-series-glass {}
}

// max-width:768 (寬度<= 576)
@include media-breakpoint-down(sm) {
	.classic-series-glass {
		.card-body img {
			max-width: 348px !important;
		}
	}
}
/**** end of professional ****/
