/**** start of classic-series-glass ****/
.classic-series-glass {
	background-color: $white;

	padding-top: 80px !important;
	padding-bottom: 80px !important;

	.card-title {
		font-family: 'Roboto', sans-serif;
		font-size: 48px;
		font-style: italic;
		font-weight: 900;
		color: $primary;
	}
}

// max-width-990  (寬度<= 1400)
@include media-breakpoint-down(xxl) {
	.classic-series-glass {

	}
}

// max-width-990  (寬度<= 1200)
@include media-breakpoint-down(xl) {
	.classic-series-glass {
		
	}
}

// max-width-990  (寬度<= 990)
@include media-breakpoint-down(lg) {
	.classic-series-glass {}
}

// max-width:768 (寬度<= 768)
@include media-breakpoint-down(md) {
	.classic-series-glass {}
}

// max-width:768 (寬度<= 576)
@include media-breakpoint-down(sm) {
	.classic-series-glass {

	}
}
/**** end of professional ****/
