/**** start of collaborative-design-glass ****/
.collaborative-design-glass {
    background-image: url('../assets/images/index-bg.png');

	padding-top: 80px;
	padding-bottom: 80px;

	.card {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card-item {
		display: block ;
		width: 50% ; // 2欄式排版
	}

    .home-section4-1 {
        max-width: 100%;
        height: 240px;
        background-image: url('../assets/images/home-section4-1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home-section4-2 {
        max-width: 100%;
        height: 240px;
        background-image: url('../assets/images/home-section4-2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

	.card-body h3 {
		background-color: $white;
        color: $primary ;
        font-family: 'Roboto', sans-serif;
		font-size: 48px;
		font-weight: bold ;
		font-style: italic;
        padding-top: 8px ;
        padding-bottom: 8px;
	}
}

// max-width-1400  (寬度<= 1400)
@include media-breakpoint-down(xxl) {
	.collaborative-design-glass  {}
}

// max-width-1200  (寬度<= 1200)
@include media-breakpoint-down(xl) {
	.collaborative-design-glass  {}
}

// max-width-990  (寬度<= 990)
@include media-breakpoint-down(lg) {
	.collaborative-design-glass  {}
}

// max-width:768 (寬度<= 768)
@include media-breakpoint-down(md) {
	.collaborative-design-glass  {
        background-image: url('../assets/images/index-bg-md.png');
        
        .card {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .card-item {
            display: block ;
            width: 100% ; // 1欄式排版
            margin-bottom: 24px;
        }

        .card-item:last-child {
            margin-bottom: 0;
        }
    }
}

// max-width:768 (寬度<= 576)
@include media-breakpoint-down(sm) {
	.collaborative-design-glass  {
        background-image: url('../assets/images/index-bg-sm.png');

        .home-section4-1 {
            max-width: 100%;
            height: 240px;
            background-image: url('../assets/images/home-section4-1-sm.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    
        .home-section4-2 {
            max-width: 100%;
            height: 240px;
            background-image: url('../assets/images/home-section4-2-sm.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
	}
}
/**** end of collaborative-design-glass ****/