/**** start of contactus ****/
.contactus {
    background-color: $secondary;

	padding-top: 80px;
	padding-bottom: 80px;

	legend {
		font-size: 20px;

		// max-width:768 (寬度<= 768)
		@include media-breakpoint-down(md) {
			font-size: 16px;
		}

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(sm) {
			font-size: 16px;
		}
	}
}
/**** end of contactus ****/