.footer {
	background: $primary;

	.footer-inner {}

	.footer-contact {
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			margin-bottom: 20px;
		}
	}


	// start of footerbar
	.footerbar-nav {
		display: flex;
		margin-bottom: 38px;
		margin-top: 60px;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.footerbar-item {
		margin-right: 48px;
	}

	// 抓取子層內的第一個子元素
	.footerbar-item:first-child {}

	// 抓取子層內的最後一個子元素。
	.footerbar-item:last-child {
		margin-right: 0;
	}

	.footerbar-link {
		display: block;
		font-size: 16px;
		color: $white;
	}

	.footerbar-link:hover {}
	// end of footerbar

	// start of socialbar
	.socialbar-nav {
		display: flex;
		margin-top: 48px;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			margin-top: 24px;
		}
	}

	.socialbar-item {
		margin-right: 32px;
		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			margin-right: 8px;
		}

		img {
			width: 48px;
			// max-width:768 (寬度<= 576)
			@include media-breakpoint-down(md) {
				width: 24px;
			}
		}
	}


	// 抓取子層內的最後一個子元素。
	.socialbar-item:last-child {
		margin-right: 0;
	}

	.socialbar-link {
		display: block;
	}
	// end of socialbar


	// start of contact
	.contact {
		padding-top: 24px;
		padding-bottom: 32px;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.contactbar-nav {}

	// max-width:768 (寬度<= 576)
	@include media-breakpoint-down(md) {
		// moible
		.contactbar-nav {
			margin-top: 24px;
		}
	}

	.contactbar-item {
		margin-bottom: 8px;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			display: flex;
			align-items: center;
		}
	}

	// 抓取子層內的最後一個子元素。
	.contactbar-item:last-child {
		margin-bottom: 0;
	}

	.contactbar-link {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;

		font-size: 36px;
		color: $white;
		display: flex;
		align-items: center;

		.material-icons-outlined {
			font-size: 36px;
			margin-right: 22px;
		}
	}

	// max-width:768 (寬度<= 576)
	@include media-breakpoint-down(md) {
		// moible
		.contactbar-link {
			font-size: 16px;
			.material-icons-outlined {
				font-size: 16px;
				margin-right: 11px;
			}
		}
	}
	// end of contact

	// start of copyright
	.copyright {
		display: flex;
		justify-content: space-between;
		padding-top: 32px;
		padding-bottom: 32px;
		border-top: 1px solid $white;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			display: block;
			padding-top: 16px;
			padding-bottom: 8px;
		}
	}

	.copyright_inner {}

	.copyright_inner p {
		color: $white;
	}

	.copyrightbar-nav {
		display: flex;
		justify-content: space-between;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			display: block;
			margin-top: 8px;
		}
	}

	.copyrightbar-item {
		margin-right: 48px;

		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			margin-right: 0;
			margin-bottom: 8px;
		}
	}

	// 抓取子層內的第一個子元素
	.copyrightbar-item:first-child {}

	// 抓取子層內的最後一個子元素。
	.copyrightbar-item:last-child {
		margin-right: 0;
		// max-width:768 (寬度<= 576)
		@include media-breakpoint-down(md) {
			margin-bottom: 24px;
		}
	}

	.copyrightbar-link {
		display: block;
		color: $white;
		font-size: 14px;
	};
	// end of copyright
}