/**** start of professional ****/
.professional {
	background-color: $secondary;

	padding-top: 80px !important;
	padding-bottom: 80px !important;

	.card-title {
		font-size: 24px;
		font-weight: bold;
		color: $danger;
		text-align: center;
	}

	.card-text {}
}

// max-width-990  (寬度<= 990)
/* @include media-breakpoint-down(lg) {
	.professional {}
} */

// max-width:768 (寬度<= 768)
/* @include media-breakpoint-down(md) {
	.professional {}
} */

// max-width:768 (寬度<= 576)
/* @include media-breakpoint-down(sm) {
	.professional {}
} */
/**** end of professional ****/
