<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>部落格 | 眼鏡官網 V3</title>
	</head>

	<body>
		<%- include('./layout/nav'); -%>

		<!-- start of blog-navbar -->
		<nav class="blog-navbar">
			<div class="container navbar-inner">
				<ul class="navbar-nav">
					<li class="navbar-item"><a href="#" class="navbar-link">最新消息</a></li>
					<li class="navbar-item"><a href="#" class="navbar-link">特別企劃</a></li>
					<li class="navbar-item"><a href="#" class="navbar-link">新品上市</a></li>
					<li class="navbar-item"><a href="#" class="navbar-link">鏡框小知識</a></li>
				</ul>
				<span class="material-icons-outlined text-white">search</span>
			</div>
		</nav>
		<!-- end of blog-navbar -->

		<!-- start of 麵包屑導覽列 -->
		
		<!-- end of 麵包屑導覽列 -->

		<!-- start of product-content -->
		<div class="blog mt-10 mb-16 mt-md-24 mb-md-20">
			<div class="container blog-inner">
				<div class="row">
					<div class="col-12 col-lg-9">
						<h2 class="header-title">情人特別企劃</h2>
						<h3 class="header-subtitle">2020 Valentine’s Special</h3>
						<img class="img-fluid mb-2" src="/assets/images/blogpage-1.png" alt="blogpage-1" />
						<p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br/>
							本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
						<img class="img-fluid mb-2" src="/assets/images/blogpage-2.png" alt="blogpage-2" />
						<p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br/> 
							本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
						<img class="img-fluid mb-2" src="/assets/images/blogpage-3.png" alt="blogpage-3" />
						<p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br/>
							 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
						<img class="img-fluid mb-2" src="/assets/images/blogpage-4.png" alt="blogpage-4" />
						<p class="mb-10">2/14(五)-2/20(日) <br/>
						至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br/> 
						期間優惠還有~~持他牌鏡框更換鏡片<br/> 
						薄型非球面鏡片折300元<br/> 
						濾藍光鏡片折500元<br/> 
						快快帶上另一半<br/> 
						讓彼此每一次睜開眼，都被愛的視線包圍!</p>

						<div class="d-flex align-items-center mt-10 mb-4">
							<span class="me-4 fw-bold">Share</span> 
							<span class="me-4"><a href="#"><img src="/assets/images/logo-facebook.png" width="24" alt="facebook" /></a></span>
							<span><a href="#"><img src="/assets/images/logo-instagram.png" width="24" alt="instagram" /></a></span>
						</div>
						<ul class="d-flex align-items-center justify-content-between mb-20 mt-6">
							<li><a href="#"><span class="material-icons-outlined">arrow_back</span>上一篇：街頭潮人訪問 1</a></li>
							<li><a href="#">下一篇：街頭潮人訪問 2<span class="material-icons-outlined">arrow_forward</span></a></li>
						</ul>
					</div>
					<div class="d-none d-lg-block col-lg-3">

					</div>
				</div>
			</div>
		</div>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>