<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>首頁 | 眼鏡官網 V3</title>
	</head>

	<body>
		<%- include('./layout/nav'); -%>
		<!-- <%- include('./layout/header'); -%> -->

		<!-- start of banner -->
		<div class="banner"> 
			<div class="container banner_inner">
				<h2>Promise-Desert 2020 早春系列</h2>
				<p>看得清，才能看得遠</p>
				<a class="btn btn-lg btn-primary" href="#">立即購買</a>
			</div>
		</div>
		<!-- end of banner -->

		<!-- start of 用專業的心，做專業的事-->
		<div class="professional">
			<div class="container">
				<h2 class="header-title text-danger text-center">用專業的心，做專業的事</h2>
				<ul class="card">
					<li class="card-item">
						<div class="card-body">
							<a href="#" class="card-link">
								<img src="../assets/images/home-section2-1.png" alt="單一價格" />
								<h3 class="text-center">單一價格</h3>
								<p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
							</a>
						</div>
					</li>
					<li class="card-item">
						<div class="card-body">
							<a href="#" class="card-link">
								<img src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件" />
								<h3 class="text-center">20 分鐘即可取件</h3>
								<p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
							</a>
						</div>
					</li>
					<li class="card-item">
						<div class="card-body">
							<a href="#" class="card-link">
								<img src="../assets/images/home-section2-3.png" alt="安心售後服務" />
								<h3 class="text-center">安心售後服務</h3>
								<p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
							</a>
						</div>
					</li>
					<li class="card-item">
						<div class="card-body">
							<a href="#" class="card-link">
								<img src="../assets/images/home-sectioin2-4.png" alt="關於鏡片" />
								<h3 class="text-center">關於鏡片</h3>
								<p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of 用專業的心，做專業的事 -->

		<!-- start of 經典系列鏡框 Classic Series Frames -->
		<div class="classic-series-glass">
			<div class="container">
				<h2 class="header-title text-danger text-center">經典系列鏡框</h2>
        		<ul class="card">
					<li class="card-item">
						<div class="card-body">
							<img src="../assets/images/home-section3-1.png" alt="OPTICAL" />
							<h3 class="text-center">OPTICAL</h3>
						</div>
					</li>
					<li class="card-item">
						<div class="card-body">
							<img src="../assets/images/home-section3-2.png" alt="OPTICAL" />
							<h3 class="text-center">SUNGLASSES</h3>
						</div>
					</li>
					<li class="card-item">
						<div class="card-body">
							<img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" />
							<h3 class="text-center">FUNCTIONAL</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of 經典系列鏡框 Classic Series Frames -->

		<!-- start of 聯名設計鏡框 Collaborative Design Frames -->
		<div class="collaborative-design-glass">
			<div class="container">
				<h2 class="header-title text-white text-center">聯名設計鏡框</h2>
				<ul class="card">
					<li class="card-item">
						<div class="card-body">
							<div class="home-section4-1"></div>
							<h3 class="text-center">DOUBLE A+</h3>
						</div>
					</li>
					<li class="card-item">
						<div class="card-body">
							<div class="home-section4-2"></div>
							<h3 class="text-center">YOUTH</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of 聯名設計鏡框 Collaborative Design Frames-->

		<!-- start of 顧客推薦 Customer Recommendations -->
		<div class="customer-recomendations-glass">
			<div class="container">
				<h2 class="header-title text-danger text-center">顧客推薦</h2>
				<!-- emmet: ul.card>li.card-item*4>img.img+(div.card-body>(h3+p))+div.card-footer>span.date-->
				<ul class="card">
					<li class="card-item">
						<img src="../assets/images/home-section5-1.png" alt="" class="img">
						<div class="card-body">
							<h3>Jessy</h3>
							<p>眼鏡品質優良，下次還會想來這邊購買！</p>
						</div>
						<div class="card-footer">
							<span class="date">2021/06/20</span>
						</div>
					</li>
					<li class="card-item">
						<img src="../assets/images/home-section5-2.png" alt="" class="img">
						<div class="card-body">
							<h3>2021/06/20</h3>
							<p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
						</div>
						<div class="card-footer"><span class="date"></span></div>
					</li>
					<li class="card-item">
						<img src="../assets/images/home-section5-3.png" alt="" class="img">
						<div class="card-body">
							<h3>悠悠</h3>
							<p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
						</div>
						<div class="card-footer"><span class="date">2020/12/25</span></div>
					</li>
					<li class="card-item">
						<img src="../assets/images/home-section5-4.png" alt="" class="img">
						<div class="card-body">
							<h3>Kyuan</h3>
							<p>服務很好，品質沒有任何問題，非常喜歡。</p>
						</div>
						<div class="card-footer"><span class="date">2020/10/31</span></div>
					</li>
					
				</ul>
			</div>
		</div>
		<!-- end of 顧客推薦 Customer Recommendations-->

		<!-- start of 聯絡我們 Contact Us -->
		<div class="contactus">
			<div class="container">
				<h2 class="header-title text-danger text-center">聯絡我們</h2>
			</div>
		</div>
		<!-- end of 聯絡我們 Contact Us -->

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>

</html>
