<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>首頁 | 眼鏡官網 V3</title>
	</head>

	<body>
		<%- include('./layout/nav'); -%>
		<!-- <%- include('./layout/header'); -%> -->

		<!-- start of banner -->
		<div class="banner"> 
			<div class="container banner_inner">
				<h2>Promise-Desert 2020 早春系列</h2>
				<p>看得清，才能看得遠</p>
				<a class="btn btn-lg btn-primary" href="#">立即購買</a>
			</div>
		</div>
		<!-- end of banner -->

		<!-- start of 用專業的心，做專業的事-->
		<div class="professional">
			<div class="container">
				<h2 class="header-title text-danger text-center">用專業的心，做專業的事</h2>
				<ul class="row">
					<li class="col-12 col-md-6 col-lg-3 mb-6">
						<div class="card border border-0">
							<div class="mx-auto mb-6">
								<img class="" src="/assets/images/home-section2-1.png" width="84" alt="單一價格" />
							</div>
							<div class="card-body">
								<h5 class="card-title mb-2">單一價格</h5>
								<p class="card-text">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
							</div>
						</div>
					</li>

					<li class="col-12 col-md-6 col-lg-3 mb-6">
						<div class="card border border-0">
							<div class="mx-auto mb-6">
								<img class="" src="/assets/images/home-section2-2.png" width="84" alt="20 分鐘即可取件" />
							</div>
							<div class="card-body">
								<h5 class="card-title mb-2">20 分鐘即可取件</h5>
								<p class="card-text">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
							</div>
						</div>
					</li>

					<li class="col-12 col-md-6 col-lg-3 mb-6">
						<div class="card border border-0">
							<div class="mx-auto mb-6">
								<img class="" src="/assets/images/home-section2-3.png" width="84" alt="安心售後服務" />
							</div>
							<div class="card-body">
								<h5 class="card-title mb-2">安心售後服務</h5>
								<p class="card-text">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
							</div>
						</div>
					</li>

					<li class="col-12 col-md-6 col-lg-3">
						<div class="card border border-0">
							<div class="mx-auto mb-6">
								<img class="" src="/assets/images/home-sectioin2-4.png" width="84" alt="關於鏡片" />
							</div>
							<div class="card-body">
								<h5 class="card-title mb-2">關於鏡片</h5>
								<p class="card-text">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of 用專業的心，做專業的事 -->

		<!-- start of 經典系列鏡框 Classic Series Frames -->
		<div class="classic-series-glass">
			<div class="container">
				<h2 class="header-title text-danger text-center">經典系列鏡框</h2>
        		<ul class="row">
					<li class="col-12 col-lg-4">
						<div class="card border-0">
							<img class="card-img-top" src="/assets/images/home-section3-1.png" alt="OPTICAL" />
							<div class="card-body">
								<h5 class="card-title text-center">OPTICAL</h5>
							</div>
						</div>
					</li>
					<li class="col-12 col-lg-4">
						<div class="card border-0">
							<img class="card-img-top" src="/assets/images/home-section3-2.png" alt="OPTICAL" />
							<div class="card-body">
								<h5 class="card-title text-center">SUNGLASSES</h5>
							</div>
						</div>
					</li>
					<li class="col-12 col-lg-4">
						<div class="card border-0">
							<img class="card-img-top" src="/assets/images/home-section3-3.png" alt="FUNCTIONAL" />
							<div class="card-body">
								<h5 class="card-title text-center">FUNCTIONAL</h5>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of 經典系列鏡框 Classic Series Frames -->

		<!-- start of 聯名設計鏡框 Collaborative Design Frames -->
		<div class="collaborative-design-glass">
			<div class="container">
				<h2 class="header-title text-white text-center">聯名設計鏡框</h2>
				<ul class="row gx-0">
					<li class="col-12 col-md-6 mb-8">
						<div class="card border-0">
							<div class="home-section4-1"></div>
							<div class="card-body p-0">
								<h5 class="card-title">DOUBLE A+</h5>
							</div>
						</div>
					</li>
					<li class="col-12 col-md-6">
						<div class="card border-0">
							<div class="home-section4-2"></div>
							<div class="card-body p-0">
								<h5 class="card-title">YOUTH</h5>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- end of 聯名設計鏡框 Collaborative Design Frames-->

		<!-- start of 顧客推薦 Customer Recommendations -->
		<div class="customer-recomendations-glass">
			<div class="container">
				<h2 class="header-title text-danger text-center">顧客推薦</h2>
				<!-- emmet: ul.card>li.card-item*4>img.img+(div.card-body>(h3+p))+div.card-footer>span.date-->
				
				<!--
				待解決問題: 因為 card-body 內文會影響高度，需要將四個區塊高度調整一致。
				-->
				
				<div class="row">
					<div class="col-12 col-md-6 col-lg-3 mb-6">
						<div class="card border border-1 shadow  mb-5 bg-body">
							<img class="card-img-top" src="/assets/images/home-section5-1.png" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">Jessy</h5>
								<p class="card-text mb-18">眼鏡品質優良，下次還會想來這邊購買！</p>
								<p class="card-text"><small class="d-block text-muted">2021/06/20</small></p>
							</div>

						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mb-6">
						<div class="card border border-1 shadow  mb-5 bg-body">
							<img class="card-img-top" src="/assets/images/home-section5-2.png" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">凱倫</h5>
								<p class="card-text mb-18">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
								<p class="card-text"><small class="d-block text-muted">2021/06/20</small></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 mb-6" >
						<div class="card border border-1 shadow  mb-5 bg-body">
							<img class="card-img-top" src="/assets/images/home-section5-3.png" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">悠悠</h5>
								<p class="card-text mb-18">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
								<p class="card-text"><small class="d-block text-muted">2020/12/25</small></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="card border border-1 shadow  mb-5 bg-body">
							<img class="card-img-top" src="/assets/images/home-section5-4.png" alt="" />
							<div class="card-body p-4">
								<h5 class="card-title">Kyuan</h5>
								<p class="card-text mb-18">服務很好，品質沒有任何問題，非常喜歡。</p>
								<p class="card-text"><small class="d-block text-muted">2020/10/31</small></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of 顧客推薦 Customer Recommendations-->

		<!-- start of 聯絡我們 Contact Us -->
		<div class="contactus">
			<div class="container">
				<h2 class="header-title text-danger text-center">聯絡我們</h2>
				<div class="row">
					<div class="col-12 col-md-10 col-lg-6 mx-auto">
						<form>
							<fieldset>
							  <legend class="mb-4">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</legend>
							  <div class="mb-4">
								<label for="name" class="form-label">姓名</label>
								<input type="text" id="name" class="form-control" placeholder="陳小明">
							  </div>

							  <div class="mb-4">
								<label for="telphone" class="form-label">連絡電話</label>
								<input type="text" id="telphone" class="form-control" placeholder="0912-345-6778">
							  </div>

							  <div class="mb-4">
								<label for="email" class="form-label">電子郵件</label>
								<input type="text" id="email" class="form-control" placeholder="example@email.com">
							  </div>

							  <div class="mb-4">
								<label for="comment" class="form-label">意見反應</label>
  								<textarea class="form-control" id="comment" rows="3"></textarea>
							  </div>
							  
							  <div class="mb-6 mb-md-12 mb-lg-12">
								<div class="form-check align-items-center">
								  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck">
								  <label class="form-check-label" for="disabledFieldsetCheck">
									我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
								  </label>
								</div>
							  </div>
							  <div class="d-grid col-12 col-md-7 col-lg-8 mx-auto">
								  <button type="submit" class="btn btn-primary">確認送出</button>
							  </div>
							</fieldset>
						  </form>
					</div>
				</div>
			</div>
		</div>
		<!-- end of 聯絡我們 Contact Us -->

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>