<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>系列鏡框 | 眼鏡官網 V3</title>
	</head>

	<body>
		<%- include('./layout/nav'); -%>

		<!-- start of product-navbar -->
		<nav class="product-navbar">
			<div class="container navbar-inner">
				<ul class="navbar-nav">
					<li class="navbar-item"><a href="./product-optical.html" class="navbar-link">OPTICAL</a></li>
					<li class="navbar-item active"><a href="./product-sunglasses.html" class="navbar-link">SUNGLASSES</a></li>
					<li class="navbar-item"><a href="./product-functional.html" class="navbar-link">FUNCTIONAL</a></li>
				</ul>
			</div>
		</nav>
		<!-- end of product-navbar -->

		<!-- start of product-banner -->
    <div class="product-header mb-10 mb-md-20">
      <div class="product-header-inner">
        <div class="row g-0">
          <div class="col-6">
            <div class="product-header-3"></div>
          </div>
          <div class="col-6">
            <div class="product-header-4"></div>
          </div>
        </div>
      </div>
    </div>
		<!-- end of product-banner -->

		<!-- start of product-content -->
    <div class="product-content">
      <div class="container product-content-inner">
        <h2 class="header-title text-center">2020 NEW COLLECTION</h2>
        <h3 class="header-sub-title text-center">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="row mt-8 mb-6 mb-md-20 mb-lg-20">
          <li class="col-12 col-lg-6 col-xl-4 mb-6 mb-md-10 mb-lg-20">
            <div class="card border-0">
              <img src="../assets/images/product-7.png" alt="product-7" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">BJ41600S</h5>
                <p class="card-text">NTD3,490</p>
              </div>
              <div class="card-footer">
                <a href="#" class="product-color1 me-2"></a>
                <a href="#" class="product-color2"></a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-6 col-xl-4 mb-6 mb-md-10 mb-lg-20">
            <div class="card border-0">
              <img src="../assets/images/product-8.png" alt="product-8" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">BJ41600S</h5>
                <p class="card-text">NTD3,490</p>
              </div>
              <div class="card-footer">
                <a href="#" class="product-color1 me-2"></a>
                <a href="#" class="product-color2"></a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-6 col-xl-4 mb-6 mb-md-10 mb-lg-20">
            <div class="card border-0">
              <img src="../assets/images/product-9.png" alt="product-9" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">BJ41600S</h5>
                <p class="card-text">NTD3,490</p>
              </div>
              <div class="card-footer">
                <a href="#" class="product-color1 me-2"></a>
                <a href="#" class="product-color2"></a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-6 col-xl-4 mb-6 mb-md-10 mb-lg-20">
            <div class="card border-0">
              <img src="../assets/images/product-10.png" alt="product-10" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">BJ41600S</h5>
                <p class="card-text">NTD3,490</p>
              </div>
              <div class="card-footer">
                <a href="#" class="product-color1 me-2"></a>
                <a href="#" class="product-color2"></a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-6 col-xl-4 mb-6 mb-md-10 mb-lg-20">
            <div class="card border-0">
              <img src="../assets/images/product-11.png" alt="product-11" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">BJ41600S</h5>
                <p class="card-text">NTD3,490</p>
              </div>
              <div class="card-footer">
                <a href="#" class="product-color1 me-2"></a>
                <a href="#" class="product-color2"></a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-6 col-xl-4 mb-6 mb-md-10 mb-lg-20">
            <div class="card border-0">
              <img src="../assets/images/product-12.png" alt="product-12" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">BJ41600S</h5>
                <p class="card-text">NTD3,490</p>
              </div>
              <div class="card-footer">
                <a href="#" class="product-color1 me-2"></a>
                <a href="#" class="product-color2"></a>
              </div>
            </div>
          </li>
        </ul>
       
        <nav>
          <ul class="pagination justify-content-center mb-20">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>           
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>

        
       

      </div>
    </div>
    <!-- end of product-content -->
		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>