<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>系列鏡框 | 眼鏡官網 V3</title>
	</head>

	<body>
		<%- include('./layout/nav'); -%>

		<!-- start of product-navbar -->
		<nav class="product-navbar">
			<div class="container navbar-inner">
				<ul class="navbar-nav">
					<li class="navbar-item"><a href="./product-optical.html" class="navbar-link">OPTICAL</a></li>
					<li class="navbar-item"><a href="./product-sunglasses.html" class="navbar-link">SUNGLASSES</a></li>
					<li class="navbar-item active"><a href="./product-functional.html" class="navbar-link">FUNCTIONAL</a></li>
				</ul>
			</div>
		</nav>
		<!-- end of product-navbar -->

		<!-- start of product-banner -->
		<div class="product-header">
		<div class="product-header-inner">
			<div class="row g-0">
			<div class="col-6">
				<div class="product-header-1"></div>
			</div>
			<div class="col-6">
				<div class="product-header-2"></div>
			</div>
			</div>
		</div>
		</div>
		<!-- end of product-banner -->

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>